/* -------------------------body------------------------ */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background: #fff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* -------------------------end body---------------------- */
/* ---------------------------header---------------------- */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-address {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.page-header .logo {
  margin-right: 76px;
}
.logo-web {
  color: #4d5ae5;
}

.link-nav {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}

.link-address {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}

.link-nav:hover,
.link-nav:focus {
  color: #404bbf;
}

.link-address:hover,
.link-address:focus {
  color: #404bbf;
}
/* ---------------------------end header------------------ */
/* ---------------------------section hero---------------- */
.main-hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
}

.bttn {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
}

.bttn:hover,
.bttn:focus {
  background: #404bbf;
}
/* ------------------------end section hero---------------- */
/* ------------------------ section advantages------------- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-advantages-list {
  display: flex;
  gap: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-advantages-link {
  flex-basis: calc((100% - 72px) / 3);
}

.main-title-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text {
  font-weight: 400;
  line-height: 1.5;
}

.main-advantages .text {
  color: #434455;
}
/* ------------------------end section advantages---------- */
/* ------------------------section team-------------------- */
.main-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f4f4fd;
}

.main-title-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.main-team-list {
  display: flex;
  gap: 24px;
}

.main-team-link {
  flex-basis: calc((100% - 72px) / 3);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.main-team .main-title-three {
  text-align: center;
}

.main-team .text {
  text-align: center;
}
.content-team {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* ------------------------end section team---------------- */
/* ------------------------ section portfolio-------------- */
.main-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.main-portfolio-link {
  flex-basis: calc((100% - 72px) / 3);
}

.content-portfolio {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* ------------------------end section portfolio----------- */
/* -------------------------footer------------------------- */
.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2e2f42;
}

.page-footer .logo {
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer .text {
  color: #f4f4fd;
  width: 264px;
}
/* -----------------------end footer----------------------- */
